<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit http://10.2.0.4/
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="businessObjects">
			<sectionGroup name="crystalReports">
				<section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler,CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
				<section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<businessObjects>
		<crystalReports>
			<rptBuildProvider>
				<add embedRptInResource="true" />
			</rptBuildProvider>
			<crystalReportViewer>
				<add key="ResourceUri" value="../crystalreportviewers13" />
			</crystalReportViewer>
		</crystalReports>
	</businessObjects>
	<appSettings>
		<add key="CrystalImageCleaner-AutoStart" value="true" />
		<add key="CrystalImageCleaner-Sleep" value="60000" />
		<add key="CrystalImageCleaner-Age" value="120000" />
	</appSettings>
	<connectionStrings>
		<!--   <add name="SolutionConnectionStringSSIDB" connectionString="Data Source=192.168.35.174\MSSQLSERVER2019;Initial Catalog=SalesDisDB_SMC_NEWDB;Integrated Security=false; User ID=ePharmadb_Webuser; Password =Web_useR!#@**10##;" providerName="System.Data.SqlClient" />
    <add name="SolutionConnectionStringSSIDB" connectionString="Data Source=95.211.159.93\SQLSERVER2014;Initial Catalog=SalesDisDB_SMC;Integrated Security=false; User ID=sa; Password = PULAK**10;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="SolutionConnectionStringSSIDB" connectionString="Data Source=CSTL-PC-7;Initial Catalog=SalesDisDB_SMC;Integrated Security=false; User ID=sa; Password = CSTL**10;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="SolutionConnectionStringSSIDB" connectionString="Data Source=CSTL-PC-03\SQLSERVER2014;Initial Catalog=SalesDisDB_SMC;Integrated Security=false; User ID=sa; Password = sa1234;" providerName="System.Data.SqlClient"/>-->
		<!-- <add name="SolutionConnectionStringSSIDB" connectionString="Data Source=192.168.35.174\MSSQLSERVER2019;Initial Catalog=SalesDisDB_SMC_NEWDB;Integrated Security=false; User ID=sa; Password =*20dt25sMc$$#;" providerName="System.Data.SqlClient" /> -->
		<!--<add name="SolutionConnectionStringSSIDB" connectionString="Data Source=45.64.134.85\SQLSERVER2014;Initial Catalog=SalesDisDB_SMC_JanBack;Integrated Security=false; User ID=sa; Password = sa1234#;" providerName="System.Data.SqlClient" />-->

		<!--<add name="SolutionConnectionStringSSIDB" connectionString="Data Source=192.168.35.174\MSSQLSERVER2019;Initial Catalog=SalesDisDB_SMC_NEWDB;Integrated Security=false; User ID=ePharmadb_Webuser; Password =Web_useR!#@**10##;" providerName="System.Data.SqlClient" />-->
		<!--<add name="SolutionConnectionStringSSIDB" connectionString="Data Source=192.168.35.174\MSSQLSERVER2019;Initial Catalog=SalesDisDB_SMC_NEWDB;Integrated Security=false; User ID=ePharmadb_Webuser; Password =Web_useR!#@**10##;" providerName="System.Data.SqlClient" />-->

		<add name="SolutionConnectionStringSSIDB" connectionString="Data Source=127.0.0.1,57694;Initial Catalog=SalesDisDB_SMC_NEWDB;Integrated Security=false; User ID=sa; Password =sa1234;" providerName="System.Data.SqlClient" />
		<!--<add name="SolutionConnectionStringSSIDB" connectionString="Data Source=192.168.35.174\MSSQLSERVER2019;Initial Catalog=SalesDisDB_SMC_NEWDB;Integrated Security=false; User ID=ePharmadb_Webuser; Password =Web_useR!#@**10##;" providerName="System.Data.SqlClient" />-->

	</connectionStrings>
	<system.web>
		<customErrors mode="RemoteOnly" defaultRedirect="login.aspx">
			<error statusCode="500" redirect="login.aspx" />
		</customErrors>
		<httpRuntime executionTimeout="36000" maxRequestLength="4194303" maxUrlLength="131072" requestPathInvalidCharacters="" requestValidationMode="2.0" />
		<compilation debug="false" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">

			<forms loginUrl="~/Login.aspx" protection="All" timeout="120000" />
		</authentication>
		<sessionState mode="StateServer" timeout="120000" />
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
		<httpHandlers>
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
		</httpHandlers>

	</system.web>

	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
		</staticContent>
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<caching enabled="false" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="4294967295" />
			</requestFiltering>
		</security>
		<defaultDocument>
			<files>
				<remove value="default.aspx" />
				<add value="Default.aspx" />
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000" />
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>