
--------------------------------------------------
-- PROCEDURE: sp_Get_MoneyReceiptReportAfterPaymentListforDALedger
--------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Get_MoneyReceiptReportAfterPaymentListforDALedger]
	-- Add the parameters for the stored procedure here
	@Parm nvarchar(max)
AS
BEGIN
   SET NOCOUNT ON;
    DECLARE @Q NVARCHAR(MAX)='SELECT distinct custPay.CustPayDetailId, ord.OrderSenderCode +'' : ''+ord.OrderSenderName OrderBy, INV.UpdateDate, com.ComUnitCode+'' : ''+com.ComUnitName  ComUnitName, com.Address,  INV.InvoiceId,INV.OrderNo,CSTMR.CustomerCode,CSTMR.CustomerName,INV.InvoiceNo,CONVERT(VARCHAR,INV.InvoiceDate,103) InvoiceDate,DelivaryInvoiceNo AS DelivaryInvoiceNo,
    CONVERT(VARCHAR,INV.UpdateDate,103) AS DelivaryInvoiceDate, INV.PaymentInvoiceNo AS PaymentNo,
    CONVERT(VARCHAR,custPay.custPaymentDate,103) AS PaymentDate,isnull(custPay.TPAmount,0) + isnull(custPay.VatAmount,0) PaymentAmount,  isnull(custPay.TPAmount,0) TPAmount, isnull(custPay.VatAmount,0) VatAmount,FinalPaymentNo AS ReceiptNo FROM tblInvoice AS INV 
	LEFT JOIN tblCustMaster AS CSTMR ON INV.CustomerMasterId = CSTMR.CustomerMasterId
	--inner JOIN (SELECT InvoiceId,SUM(PaymentNetAmount) AS PaymentAmount FROM tblInvoiceDetail AS INVD WHERE INVD.DeliveryStatus IS NOT NULL GROUP BY InvoiceId) AS PMT ON INV.InvoiceId = PMT.InvoiceId
inner join tblOrder ord on ord.OrderId=INV.OrderId
inner join tblCustPayDetail custPay on custPay.InvoiceId=INV.InvoiceId

inner join tblCompanyUnit com on ord.ComUnitId=com.ComUnitId
	WHERE custPay.CustPayDetailId IS NOT NULL and custPay.EntryFromTag=''From DA'' ' + @Parm  + 'ORDER BY  FinalPaymentNo, CONVERT(VARCHAR,custPay.custPaymentDate,103) DESC'   	

	EXEC sp_executesql @Q

END
       

